.lead__subtitle {
    text-align: center;
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
    margin: 0;
    max-width: 640px;
    padding-top: 32px;
}

@media screen and (max-width: 680px) {
    .lead__subtitle {
        font-size: calc( (100vw - 320px)/(680 - 320)*(30 - 16) + 16px);
        line-height: 104%;
    }
}

@media screen and (max-width: 320px) {
    .lead__subtitle {
        font-size: 16px;
        line-height: 20px;
        padding-top: 16px;
    }
}