.cover__background {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    aspect-ratio: 1.6 / 1;
    max-width: 1140px;
    gap: 32px;
    background: linear-gradient(0deg, rgba(42, 44, 47, 0.3), rgba(42, 44, 47, 0.3)), url(../../../images/__background/__background.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-decoration: none;
}

.cover__background:hover {
    background: linear-gradient(0deg, rgba(42, 44, 47, 0.8), rgba(42, 44, 47, 0.8)), url(../../../images/__background/__background.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

@media screen and (max-width: 1279px) {
    .cover__background {
        max-width: none;
    }
}

@media screen and (max-width: 1023px) {
    .cover__background {
        max-width: none;
    }
}

@media screen and (max-width: 767px) {
    .cover__background { 
        gap: 16px;
    }
}