.place__website {
    align-self: flex-end;
    display: flex;
    flex-direction: column;
    gap: 12px;
    grid-column: 2;
    grid-row: 1;
    margin: 0;
    padding: 0;
    width: 100%;
}

@media screen and (max-width: 767px) {
    .place__website {
        box-sizing: border-box;
        padding: 0 12px;
    }
}