.intro__title {
    font-size: 54px;
    font-weight: 900;
    line-height: 58px;
    margin: 0 auto;
    max-width: 690px;
    padding-right: 294px;
    width: 100%;
}

@media screen and (max-width: 1279px) {
    .intro__title {
        padding-right: 238px;
    }
}

@media screen and (max-width: 1023px) {
    .intro__title {
        max-width: none;
        padding-right: 0;
    }
}

@media screen and (max-width: 767px) {
    .intro__title {
        font-size: 32px;
        line-height: 32px;
        max-width: none;
        padding-right: 0;
    }
}